body{
  background-color: rgba(139, 48, 94, 0.801);
  justify-content: center;
  align-items: center;
}
.daily{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: white;
  background-color: none;
}
input{
  width: 80%;
  padding: 20px;
  background-color: aliceblue;
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
textarea{
  width: 80%;
  padding: 20px;
  background-color: aliceblue;
  border: none;
  outline: none;
  margin-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
button{
  width: 83%;
  padding: 15px;
  background-color: rgb(209, 18, 18);
  border: none;
  outline: none;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}
#root{
  background-color: none;
}
div{
  background-color: none;
}
/* -------task css---------------- */
.task{
 
  width: 83%;
  display: flex;
  margin-top: 10px;
  margin-left: 10%;
  align-items: center;
  background-color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.task1{
 
  width: 100%;
  background-color: aliceblue;
  margin: 20px;
  display: flex;
  flex-direction: column;
  
}
.task button{
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.ppp{
  color: black;
}
@media(max-width: 700px){
  .task{
justify-content: center;
align-items: center;
width: 90%;
margin-right: 100%;
  }
  .submitbtn{
    justify-content: center;
    align-items: center;
   
    width: 90%;
  }
  .daily{
    margin: none;
  }

}